/* Home.css */

.App {
  /* Your existing styles */

  .App-header {
    background-color: lightblue;
    /* 添加淡蓝色底色 */

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

    .header-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .title {
      margin-right: 20px;
    }

    .top-bar {
      background-color: lightblue;
      /* 添加淡蓝色底色 */

      display: flex;

      .nav-link {
        margin-right: 10px;
        cursor: pointer;
      }
    }

  }

  img {
    max-width: 300px;
    /* 限制图片最大宽度为其容器的宽度 */
    max-height: 300px;
    /* 限制图片最大高度为300像素，根据需要调整 */
    margin-top: 20px;
    /* 为了保持上下间距，添加一些顶边距 */
  }
}